body{
	background:#f7f7f7;
	text-align:center;
	font-family: 'Baloo Paaji', cursive;
}

nav{
	padding:5px;
	background:#3d2929;
	color:white;
	form{
		width: 70%;
		margin: 0 auto;
		.input-group{
			width:50%;
			margin:0 auto;
			input[type='text']{
				width:80%;
				border-radius:5px;
				color:darken(#ff7373,60%);
			}
			input[type='submit']{
				background:#ff7373;
				color:white;
				border-style:inset;
				border-color:darken(#ff7373,40%)
			}
		}	
	}
}
.chart{
	width:90%;
	margin:20px auto;
}

.cards{
	display:flex;
	justify-content:space-around;
	flew-flow:row-wrap;
	.card{
		min-width:50px;
		padding:5px;
		background:lighten(#3d2929,10%);
		color:white;
		box-shadow:2px 4px 5px rgba(0,0,0,0.6);
		border-radius:5px;
		p strong{
			color:#f7f7f7;
			text-shadow: 2px 4px 2px black;
		}
		&:hover{
			background:lighten(#3d2929,40%);
			box-shadow:-2px 4px 5px rgba(0,0,0,0.6);
		}
	}
}
